<div class='container'>
  <h1>Edit Out of Office Event</h1>
  <%= form_for @meeting, url: meeting_path do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <input type="text" name="the_name" value="<%= f.object.name %>" disabled="disabled">
  </div>
  <div class="form-group">
    <%= f.label :reason %>
    <%= f.text_field :reason %>
  </div>
  <div class="form-group">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time, ampm: true%>
  </div>
  <div class="form-group">
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time, ampm: true %>
  </div>
  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div>
</div>
<% end %>
