<div class='container'>
  <%= calendar number_of_days: 1, events: @meetings do |date, meetings|  %>
  <%= date.strftime('%m-%d') %>

  <% meetings.each do |meeting| %>
  <div>
    <strong>
      <%= meeting.start_time.strftime '%I:%M %P' %>
      -
      <%= meeting.end_time.strftime '%I:%M %P' %></strong>
    <br>
    <%= link_to "#{meeting.name}  -  #{meeting.reason}", meeting_path(meeting) %>
  </div>
  <% end %>
  <% end %>
</div>
