<div class='container'>
  <div class='row'>
    <div class='col-md-9'>
      <%= week_calendar events: @meetings do |date, meetings| %>
      <%= link_to date.strftime('%d'), daily_path(:start_date => date) %>

      <% meetings.each do |meeting| %>
      <div>
        <%= link_to meeting.user.partial_name, meeting_path(meeting) %>
      </div>
      <% end %>
      <% end %>
    </div>
    <div class='col-md-3'>
      <h3 class='altheader'>Out of Office</h3>
      <% @meetings.each do |meeting| %>
      <strong>
        <%= meeting.start_time.strftime '%B %d ' %>
        -
        <%= meeting.end_time.strftime '%B %d' %></strong>
      <br>
      <%= link_to "#{meeting.name}  -  #{meeting.reason}", meeting_path(meeting) %>
      <br>
      <% end %>
    </div>
  </div>
</div>
